<!DOCTYPE html>
<html>
  <head>
    <title>Chat!</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
    <style>
      li
      {
        cursor:pointer;
      }
      li:hover
      {
        color:blue;
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
